<!DOCTYPE html>
<html lang="en" style="height:100%; margin:0; padding:0">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lab2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style=" min-height:100%; display: flex; flex-direction:column">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 " style="height:60px">
            <div class="container-fluid">
                
                <div class="row w-100 mt-3">

                    <div class="col-4">
                       
                        <div class="row pt-1    ">
                            <a class="navbar-brand col-3" asp-area="" asp-page="">Food Store</a>

                            <div class="nav-item align-items-start col-2 mt-2 ">
                                <a class="nav-link text-dark " asp-area="" asp-page="/Products/List">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </div>

                            <div class="col-3"></div>
                        </div>

                    </div>

                    

                    <div class="col-6 ">

                    </div>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between col-2 align-items-end pt-2">
                        <ul class="navbar-nav flex-grow-1">
                            
                             <li class="nav-item mr-5" style="text-align:end">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">

                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Carts/Cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>

                           

                        </ul>
                    </div>

                </div>

            </div>
        </nav>
    </header>
    <div class="container" style="flex:1; padding-bottom:50px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer  style="height:50px; flex-shrink:0">
        <div class="container">
            &copy; 2023 - Lab2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>